<table class="table table-striped">
    <tr>
        <th>&nbsp;</th>
        <th>Event name</th>
        <th>Event date</th>
        <th>Organization<br />Org. Representative</th>
        <th>Approval date</th>
    </tr>
<?php foreach ($rows as $i): extract($i);?>
<tr>
    <td><a class="btn btn-default" href="./tax_agreement/user/print/<?=$id?>" title="Print"><i class="fa fa-print fa-lg"></i></a></td>
    <td><?=$event_name?></td>
    <td><?=$event_date?></td>
    <td><?=$organization_name?><br /><?=$organization_rep_name,', ',$organization_rep_title?></td>
    <td><?=$approved_date?></td>
</tr>
<?php endforeach; ?>
</table>
